.item {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.item_box {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-bottom: 16px;
}

.item_box_img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid black;
}



