.background {
	width: 70%;
	margin: 30px auto;
	z-index: -20;
  	justify-content: center;
  	align-items:center;

	border: 1px solid black;
}

.title{
	font-weight: 700;
	font-size : 30px;
	/* margin-left : 30px; */
	text-align: center;
}

.image{
	display:flex;
	justify-content: center;
}

.buttonSet{
	display:flex;
	justify-content: center;
	margin-top : 10px;
	padding: 10px;
}

.msg{
	display:flex;
	justify-content: center;
	margin : 10px;
	font-size : 25px;
}

.button{
	margin : 10px;
	width : 25%;
}