.info_background {
	/* height: 1110px; */
	margin-bottom: 50px;
	background: linear-gradient(to right, #f6f881be, #ffa1e9aa, #84dcffaa);
	padding: 5px;

	/* display: flex;
  	justify-content: center;
  	align-items:center; 
	중앙배치 */
}
.info_in {
	background: white;
  	justify-content: center;
  	align-items:center; 
	padding: 50px;
}

.info_in .info_title {
	height: 150px;
	width: 100%;
	line-height: 150px;
	text-align: center;
	font-size: 40px;
}

.info_in .info_section1 {
	display: flex;
	margin-bottom: 100px;
}

.info_in .info_section1 .section1_part1 {
	width: 50%;
	height: 80%;
	float: left;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.info_in .info_section1 .section1_part1 .info_img{
	width: 700px;
	height: 700px;
	

	border: 5px solid transparent;

	border-radius: 10%;
	background-clip: content-box, border-box;
	background-image: linear-gradient(#fff, #fff), 
	linear-gradient(to left, #f6f881be, #ffa1e9aa, #b2e9ffaa);
    border-image-slice: 1;
	background-origin: border-box;
	
}

.info_in .info_section1 .section1_part2 {
	width: 50%;


	/* border: 10px solid ;
    border-image: linear-gradient(to left, #f6f881be, #ffa1e9aa, #b2e9ffaa);
    border-image-slice: 1;  */
	
	float: left;
}

.info_in .info_section1 .section1_part2 .info_author{

	height: 50px;
	line-height: 50px;
	margin: 25px 0;

	font-size: 30px;
	text-align: right;
	padding-right: 50px;
}

.info_in .info_section1 .section1_part2 .info_author .info_author_img{

	height: 50px;
	display: inline-block;
	text-align: right;
	vertical-align: top;

	background: url("../assets/images/author.png");
	background-size: cover;
}

.info_in .info_section1 .section1_part2 .info_content {
	height: 80%;
	width: 100%;
	display: flex;
	font-size: 20px;
	overflow:auto;
	padding: 50px;

	/* /* border-radius: 50%; */
	
	
	
	
}

.info_section2 {
	height: 100px;
	width: 80%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.info_section2 .btn {
	border-radius: 50px;
	width: 20%;
	height: 50%;
	background-color: #303033;
	color: white;
	font-size: 20px;
}
