.main_content_background{
	background-color:rgb(235, 245, 255);
	height: 1000px;
	
}
  
.main_content{
  
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	place-items: center;
	gap: 10px 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}