.main_content_background{

	border-top: 5px solid ;
	border-bottom: 5px solid;
	border-image: linear-gradient(to right, #f6f881be, #ffa1e9aa, #84dcffaa);
    border-image-slice: 1;

	margin-bottom: 10px;
	padding: 0 30px;
	
	
}
  
.main_content{
	background-color:rgb(255, 255, 255);
	min-width: 1000px;
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	place-items: center;
	gap: 50px 10px;

	padding: 40px;
	margin: 0 auto;

}